body {
  background-image: linear-gradient(to right, #0E233C, #132D4D, #132D4D, #0E233C);
}

/* Main Content */
.store-section {
  display: block;
  position: relative;
  width: 100%;
  background-image: linear-gradient(to right, #0E233C, #132D4D, #132D4D, #0E233C);
  justify-content: center;
  align-items: center;
  overflow: visible;
}

/* Filter & Search */
.menu-div {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 50px;
  background-color: #4B6380;
  position: absolute;
  margin-left: 10%;
  align-items: center;
  z-index: 1;
  margin-top: 70px;
  overflow: visible;
  box-shadow: 0px 2px 10px black;
}

.menu-div a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.menu-div .dropdown {
  margin:  0 0 0 2%;
}

.menu-div .dropdown-menu a:hover {
  background-color: #0E233C;
  color: white;
}

.menu-div .dropdown-menu {
  font-size: 12px;
}


.search-div {
  position: relative;
  display: flex;
  width: 40%;
  height: 80%;
  right: -49%;
}

.searchbar-div {
  display: flex;
  width: 85%;
  height: 100%;
  align-self: center;
}

.searchbar-div input {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchicon-div {
  display: flex;
  width: 15%;
  height: 100%;
}

.searchicon-div button {
  display: block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #0E233C;
}

button i {
  color: white;
  overflow: visible;
  font-size: 18px;
}
/* /Filter & Search */

.slider-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 30rem;
  background-image: url("/SDP-Nexus/Nexus/images/about_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.fade-black {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.slider-div h1 {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: normal;
}

.content-div {
  position: relative;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 34rem 40rem;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

.categorized-div h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 2%;
  color: white;
}

.sale {
background-image: linear-gradient(to right, #0E233C, #132D4D, #132D4D, #0E233C);
}

.sale-div {
  width: 100%;
  height: 80%;
  display: flex;
  background-color: #222222;
  overflow: hidden;
}

.slider {
  overflow: hidden;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.new-release, .newrelease-div, .nr, .newrelease {
  overflow: visible;
}

.new-release {
  background-color: #132D4D;
  display: block;
  position: relative;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.newrelease-div {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.s1 {
  z-index: 2;
}

.nr {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 1%;
}

.newrelease{
  display: inline-block;
  position: relative;
  width: 31%;
  height: 200px;
  background-color: #222222;
  margin: 10px;
  transition: .25s ease;
}

.newrelease:hover {
  transform: scale(1.3, 1.5);
  z-index: 1;
}

.special-offer-description-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: visible;
  background-image: linear-gradient(to top, black, transparent);
}

.special-offer-description-div:hover {
  opacity: 1;
  filter: linear-gradient(to top, black, transparent, transparent);
}

.special-offer-description-div img {
  width: 50px;
  height: 50px;
  align-self: flex-end;
  bottom: 5%;
  left: 10%;
}

.price-div ,
.special-offer-description-div h5 {
  position: absolute;
  align-self: flex-end;
  color: white;
  right: 5%;
}

.special-offer-description-div h5 {
  font-size: 20px;
  bottom: 20%;
  font-weight: normal;
}

.price-div {
  bottom: 5%;
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-items: center;
}

.strikethrough {
  text-decoration: line-through solid #888888;
  color: #888888;
}

.price-div h6,
.price-div p,
.price-div h7 {
  font-weight: normal;
}

.price-div h6 {
  position: relative;
  text-align: center;
  width: 20%;
  height: 80%;
  margin: auto 5px auto 0;
  font-weight: normal;
  background-color: #82AD2E;
  border-radius: 1.5px;
}

.price-div p {
  margin: auto 5px auto 0;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.slide-btn {
  position: absolute;
  display: flex;
  overflow: visible;
  top: 80%;
  left: 40.5%;
}

.slide-btn label {
  width: 60px;
  height: 7px;
  margin: 5px;
  background: rgba(0,0,0,.6);
}

.slide-btn label:hover {
  background-color: #DDDDDD;
}

.slide-btn label:focus {
  background-color: #DDDDDD;
}

#s1:checked ~ .s1 {
  z-index: 2;
}
#s2:checked ~ .s2 {
  z-index: 2;
}
#s3:checked ~ .s3 {
  z-index: 2;
}

.featured-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 2%;
  overflow: hidden;
}

.featured-div h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  align-self: center;
  margin-bottom: 2%;
  margin-top: 3%;
}

.featured-div-games {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.featured-games-4-div,
.featured-games-3-div {
  display: flex;
}

.featuredgames {
  position: relative;
  margin: 20px;
  background-color: green;
  box-shadow: 0px 0px 10px black;
  overflow: hidden;
}

.featured-games-4-div .featuredgames {
  width: 25%;
  height: 150px;
}

.featured-games-3-div .featuredgames {
  width: 33.3333%;
  height: 200px;
}

.featured-games-4-div .featuredgames:hover,
.featured-games-3-div .featuredgames:hover {
  box-shadow: 0px 2px 20px black;
}

.featured-games-4-div .featuredgames img,
.featured-games-3-div .featuredgames img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.featured-games-4-div .featuredgames:hover > .info-div {
  transform: translateY(40%);
}

.featured-games-3-div .featuredgames:hover > .info-div {
  transform: translateY(50%);
}

.info-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient( to bottom, #294971 0%, #113158 100% );
  transform: translateY(100%);
  transition: .75s;
}

.info-div p {
  margin: 5%;
}

.info-div a {
  font-size: 20px;
  text-decoration: none;
  color: #DDDDDD;
}

.info-div-h6 {
  font-size: 11px;
  margin-left: 5%;
  margin-top: -2.5%;
  color: #999999;
}

.pricetag-main-div {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  transform: translate(-2.5%, -10px);
}

.pricetag-div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: black;
}

.discount {
  color: white;
}

.original {
  color: #AAAAAA;
  text-decoration: line-through;
  margin-right: 5px;
}

.discount,
.original {
  font-weight: normal;
  overflow: visible;
  font-size: 15px;
  padding: 0 2px 0 2px;
  margin: auto;
  text-align: center;
}

.dis-per {
  position: relative;
  padding: 2px;
  height: 100%;
  color: white;
  background-color: #82AD2E;
  font-size: 15px;
  text-align: center;
  bottom: 0;
  margin-right: 5px;
  margin: auto;
  text-align: center;
}


/* /Main Content */

/*
.games {
  height: 100%;
  width: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.main-dd-div {
  overflow: visible;
}

.main-dd-div i {
  color: white;
  position: relative;
  top: 2px;
}

.main-dd {
  position: relative;
}

.games-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: flex-start;
  align-items: baseline;
  top: 50px;
  width: 150px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.games-div ul {
  overflow: visible;
  align-self: baseline;
  width: 100%;
  visibility: visible;
}

.games-div li {
  width: 100%;
  height: 30px;
  display: flex;
  background-color: #EEEEEE;
  border-top: 1px solid black;
  overflow: visible;
  visibility: visible;
}

.games-div li a {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  overflow: visible;
  font-size: 12.5px;
  overflow: visible;
  visibility: visible;
  align-items: center;
  color: black;
}

.games-div a:hover {
  background-color: #0E233C;
  color: white;
}
*/

@media only screen and (max-width: 1245px) {
  .new-release {
    height: 70%;
  }

  .newrelease {
    width: 28%;
    height: 150px;
  }

  .nr {
    padding-left: 8%;
  }

  .slide-btn {
    top: 79%;
    left: 39%;
  }

  .featured-div {
    transform: translateY(-25%);
  }
}

@media only screen and (max-width: 1100px) {
  .categorized-div h3 {
    margin: 30px;
  }
  .slide-btn {
    top: 76%;
  }

  .featured-games-4-div .featuredgames {
    height: 100px;
  }

  .featured-games-3-div .featuredgames {
    height: 150px;
  }

  .info-div a {
    font-size: 15px;
  }

  .pricetag-main-div {
    transform: translate(-2.5%, -20px);
  }

  .discount {
    font-size: 14px;
  }
}
@media only screen and (max-width: 910px) {
  .info-div-h6 {
    opacity: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 980px) {
  .menu-div {
      width: 100%;
      margin-left: 0;
  }

  .nr {
    padding-left: 5%;
  }
  .slide-btn {
    left: 35%;
  }
}

@media only screen and (max-width: 700px) {
  .nr {
    padding-left: 3%;
  }

  .new-release {
    height: 55%;
  }

  .newrelease {
    height: 100px;
  }

  .newrelease:hover {
    transform: scale(1.1);
  }

  .special-offer-description-div h5 {
    font-size: 17px;
  }

  .slide-btn {
    top: 69%;
    left: 30%;
  }

  .featured-div {
    transform: translateY(-10%);
  }

  .featured-games-3-div,
  .featured-games-4-div {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .featured-games-3-div .featuredgames,
  .featured-games-4-div .featuredgames  {
    width: 500px;
    height: 300px
  }

  .featured-games-4-div .featuredgames:hover > .info-div,
  .featured-games-3-div .featuredgames:hover > .info-div {
    transform: translateY(65%)!important;
  }

  .info-div a {
    font-size: 25px;
  }

  .pricetag-main-div {
    transform: translate(-2.5%, -3vh);
  }

  .discount {
    font-size: 15px;
  }

  .info-div-h6 {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 570px) {
  .content-div {
    grid-template-rows: 34rem 90rem;
  }

  .nr {
    padding-left: 10%;
  }

  .new-release {
    height: auto;
  }

  .newrelease {
    width: 85%;
    height: 200px;
  }

  .special-offer-description-div h5 {
    font-size: 20px;
  }

  .slide-btn {
    top: -3.5%;
    left: 70%;
  }

  .slide-btn label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
  }

  .featured-div {
    margin-top: 300px;
  }


}
